{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/list.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
{% endblock %}
{% block body %}
    <div class="index">
    <div class="titleForm">
        <h1>Companies list</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Town</th>
                <th>Contactname</th>
                <th>telephone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.town }}</td>
                <td>{{ company.contactname }}</td>
                <td>{{ company.telephone }}</td>
                <td>{{ company.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('company_show', { 'id': company.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('company_edit', { 'id': company.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="createButton">
        <a class="btn btn-primary stretched-link" href="{{ path('company_new') }}">Create a new company</a>
    </div>
{% endblock %}
