{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <section>
        <div class="form container-fluid">
            <form class="formDisability" novalidate>
                <header>
                    <div class="titleForm mt-4" align="center">
                        <h1>Company new</h1>
                    </div>
                </header>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow border-dark p-4">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="validationCustom01" class="font-weight-bold">Nombre de la discapacidad</label>
                                    <div id="name_div">
                                        {{ form_widget(form.name, { 'attr': {'class': 'border shadow border-secondary rounded pl-2 p-2  col-md-9 lg-9 sm-9', 'id': 'company' } }) }}
                                    </div>
                                    <div id="nameError" class="invalid-feedback" style="display: none">
                                        Por favor, selecciona un nombre
                                    </div>
                                    <div id="nameCorrect" class="valid-feedback" style="display: none">
                                        Campo correcto
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="validationCustom02" class="font-weight-bold">Direcci칩n</label>
                                    <div id="address_div">
                                        {{ form_widget(form.address, { 'attr': {'class': 'border shadow border-secondary rounded pl-2 p-2 col-md-12 lg-12 sm-12', 'id': 'contactName', 'rows': '1' } }) }}
                                    </div>
                                    <div id="addressError" class="invalid-feedback" style="display: none">
                                        Por favor, selecciona una direcci칩n
                                    </div>
                                    <div id="addressCorrect" class="valid-feedback" style="display: none">
                                        Campo correcto
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="validationCustom02" class="font-weight-bold">C칩digo Postal</label>
                                    <div id="telephone_div">
                                        {{ form_widget(form.zipcode, { 'attr': {'class': 'border shadow border-secondary rounded pl-2 p-2 col-md-12 lg-12 sm-12', 'id': 'telephone' } }) }}
                                    </div>
                                    <div id="telephoneError" class="invalid-feedback" style="display: none">
                                        Por favor, selecciona un codigo postal
                                    </div>
                                    <div id="telephoneCorrect" class="valid-feedback" style="display: none">
                                        Campo correcto
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="validationCustom01" class="font-weight-bold">Nombre de la discapacidad</label>
                                    <div id="town_div">
                                        {{ form_widget(form.town, { 'attr': {'class': 'border shadow border-secondary rounded pl-2 p-2  col-md-9 lg-9 sm-9', 'id': 'town' } }) }}
                                    </div>
                                    <div id="townError" class="invalid-feedback" style="display: none">
                                        Por favor, selecciona un ciudad
                                    </div>
                                    <div id="townCorrect" class="valid-feedback" style="display: none">
                                        Campo correcto
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="validationCustom02" class="font-weight-bold">Contacto</label>
                                    <div id="contactName_div">
                                        {{ form_widget(form.contactname, { 'attr': {'class': 'border shadow border-secondary rounded pl-2 p-2 col-md-12 lg-12 sm-12', 'id': 'contactName', 'rows': '1' } }) }}
                                    </div>
                                    <div id="contactNameError" class="invalid-feedback" style="display: none">
                                        Por favor, selecciona un nombre de contacto
                                    </div>
                                    <div id="contactNameCorrect" class="valid-feedback" style="display: none">
                                        Campo correcto
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="validationCustom02" class="font-weight-bold">Telefono</label>
                                    <div id="telephone_div">
                                        {{ form_widget(form.telephone, { 'attr': {'class': 'border shadow border-secondary rounded pl-2 p-2 col-md-12 lg-12 sm-12', 'id': 'telephone' } }) }}
                                    </div>
                                    <div id="telephoneError" class="invalid-feedback" style="display: none">
                                        Por favor, selecciona un telefono
                                    </div>
                                    <div id="telephoneCorrect" class="valid-feedback" style="display: none">
                                        Campo correcto
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 float-left">
                                    <label for="validationCustom02" class="font-weight-bold">Email</label>
                                    <div id="email_div">
                                        {{ form_widget(form.email, { 'attr': {'class': 'border shadow border-secondary rounded pl-2 p-2 col-md-12 lg-12 sm-12', 'id': 'telephone' } }) }}
                                    </div>
                                    <div id="emailError" class="invalid-feedback" style="display: none">
                                        Por favor, selecciona un email
                                    </div>
                                    <div id="emailCorrect" class="valid-feedback" style="display: none">
                                        Campo correcto
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 float-left">
                                    <input class="btn btn-primary shadow border-dark" id="formButton" type="submit" value="Crear" />
                                    <a class="shadow btn btn-primary border-dark" href="{{ path('user_index') }}">Volver a
                                        Comapa침ia</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
        {{ form_end(form) }}
    </section>
    <script src="{{ asset('js/formCompany.js') }}"></script>
    <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>
{% endblock %}


