{% extends 'base.html.twig' %}

{% block body %}
<header>
    <h1 class="text-center">Empresa</h1>
</header>
<section>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card shadow border-dark p-4">
                    <!-- Fila 1 -->
                    <div class="row">
                        <!-- Columna 1/4 -->
                        <div class="form-group col-1">
                            <label class="font-weight-bold">Id</label>
                            <div class="border shadow border-secondary rounded pl-2 p-2">
                                {{ company.id }}

                            </div>
                        </div>
                        <!-- Columna 2/4 -->
                        <div class="form-group col-6">
                            <label class="font-weight-bold">Nombre</label>
                            <div class="border shadow border-secondary rounded pl-2 p-2">
                                {{ company.name }}
                            </div>
                        </div>
                        <!-- Columna 3/4 -->
                        <div class="form-group col-2">
                            <label class="font-weight-bold">Teléfono</label>
                            <div class="border shadow border-secondary rounded pl-2 p-2">
                                {{ company.telephone }}
                            </div>
                        </div>
                        <!-- Columna 4/4 -->
                        <div class="form-group col-3">
                            <label class="font-weight-bold">Email</label>
                            <div class="border shadow border-secondary rounded pl-2 p-2">
                                {{ company.email }}
                            </div>
                        </div>

                    </div>
                    <!-- Fila 2 -->
                    <div class="row">
                        <!-- Columna 1/3 -->
                        <div class="col-7">
                            <div class="form-group ">
                                <label class="font-weight-bold">Dirección</label>
                                <div class="border shadow border-secondary rounded pl-2 p-2">
                                    {{ company.address }}
                                </div>
                            </div>
                        </div>

                        <!-- Columna 2/3 -->
                        <div class="col-2">
                            <div class="form-group ">
                                <label class="font-weight-bold">C.P</label>
                                <div class="border shadow border-secondary rounded pl-2 p-2">
                                    {{ company.zipCode }}
                                </div>
                            </div>
                        </div>

                        <!-- Columna 3/3 -->
                        <div class="col-3">
                            <div class="form-group ">
                                <label class="font-weight-bold">Localidad</label>
                                <div class="border shadow border-secondary rounded pl-2 p-2">
                                    {{ company.town }}
                                </div>
                            </div>
                        </div>
                    </div>

                                        <!-- Fila 3 -->
                    <div class="row">
                        <!-- Columna 1/2 -->
                        <div class="col-9">
                            <div class="form-group ">
                                <label class="font-weight-bold">Contacto</label>
                                <div class="border shadow border-secondary rounded pl-2 p-2">
                                    {{ company.contactname }}
                                </div>
                            </div>
                        </div>

                        <!-- Columna 2/2 -->
                        <div class="col-3">
                            <div class="form-group ">
                                <label class="font-weight-bold">Fecha creación</label>
                                <div class="border shadow border-secondary rounded pl-2 p-2">
                                    {% if company.date %}{{ company.date|date('d-m-Y H:i:s') }}{% endif %}
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Fila 4 -->
                    <div class="row">

                        <!-- Columna 1/2 -->
                        <div class="col-4 float-left">
                            <a class="shadow btn btn-primary border-dark" href="{{ path('company_index') }}">Volver a
                                Empresas</a>
                            <a class="shadow btn btn-primary border-dark" href="{{ path('company_edit', { 'id': company.id }) }}">Editar
                                Empresa</a>
                        </div>
                        <!-- Columna 2/2 -->
                        <div class="col-8">
                            {{ form_start(delete_form) }}
                            <button class="shadow btn btn-danger float-right border-dark" type="submit">Borrar Empresa</button>
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<br>
{% endblock %}