{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="titleForm mt-4" align="center">
            <h1>Lista de ofertas</h1>
        </div>
        <table class="tableList display" width="100%">
            <thead>
            <tr>
                <th>Compañia</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Telefono</th>
                <th>Discapacidades</th>
                <th>PDF</th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.Company }}</td>
                    <td>{{ offer.title }}</td>
                    <td>{{ offer.description }}</td>
                    <td>{{ offer.telephone }}</td>
                    <td>
                        {% for disability in offer.disabilities %}
                            {{ disability }}
                        {% endfor %}
                    </td>
                    <td><a href="{{ asset('pdf/' ~ offer.pdf) }}">View brochure (PDF)</a></td>
                    <td>
                        <a href="{{ path('offer_showusers', { 'id': offer.id }) }}"><img src="{{ asset('imagenes/show.png') }}" class="actions pl-2 pr-2" alt="Show"></a>
                     </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
