{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname1</th>
                <th>Surname2</th>
                <th>Adress</th>
                <th>Zipcode</th>
                <th>Location</th>
                <th>Email</th>
                <th>Borndate</th>
                <th>Createdate</th>
                <th>Iddocument</th>
                <th>Disabilities</th>
                <th>Comment</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname1 }}</td>
                <td>{{ user.surname2 }}</td>
                <td>{{ user.adress }}</td>
                <td>{{ user.zipCode }}</td>
                <td>{{ user.location }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.bornDate %}{{ user.bornDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ user.createDate|date('Y-m-d H:i:s') }}</td>
                <td>{{ user.idDocument }}</td>
                <td>
                {% for disability in user.disabilities %}
                {{ disability }}
                {% endfor %}
                </td>
                <td>{{ user.comment }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
