{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/list.css') }}"/>
{% endblock %}
{% block body %}
    <div class="list table-responsive" style="overflow-x:auto;">
        <div class="titleForm">
            <h1>Users list</h1>
        </div>
    <table class="table">
        <thead>
            <tr scope="row">
                <th scope="col">Name</th>
                <th scope="col">Surname1</th>
                <th scope="col">Surname2</th>
                <th scope="col">Location</th>
                <th scope="col">Email</th>
                <th scope="col">Disabilities</th>
                <th scope="col">Comment</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr scope="row">
                <td scope="col">{{ user.name }}</td>
                <td scope="col">{{ user.surname1 }}</td>
                <td scope="col">{{ user.surname2 }}</td>
                <td scope="col">{{ user.location }}</td>
                <td scope="col">{{ user.email }}</td>
                <td scope="col">
                {% for disability in user.disabilities %}
                {{ disability }}
                {% endfor %}
                </td>
                <td>{{ user.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a class="btn btn-primary stretched-link" href="{{ path('user_new') }}">Create a new user</a>
{% endblock %}
