{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="titleForm">
            <h1>Users list</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card shadow border-dark p-4">
                    <!-- Fila  -->
                    <div class="row">
                        <div class="form-group col-11">
                            <div class="form-group col-2">
                                <label>Nombre</label>
                            </div>
                            <div class="form-group col-3">
                                <label>Apellidos</label>
                            </div>
                            <div class="form-group col-2">
                                <label>Email</label>
                            </div>
                            <div class="form-group col-2">
                                <label>Teléfono</label>
                            </div>
                            <div class="form-group col-3">
                                <label>Discapacidades</label>
                            </div>
                        </div>
                        <div class="form-group col-1">
                            <label>Acciones</label>
                        </div>
                    </div>
                    <!-- Fila -->
                    <div class="row">
                        <div class="form-group col-11">
                            <p>Prueba col 11 1</p>
                        </div>
                        <div class="form-group col-1">
                            <p>Prueba col 1 1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index" >
        <div class="titleForm">
            <h1>Users list</h1>
        </div>
    <table id="tableUser">
        <thead>
            <tr scope="row">
                <th scope="col">Name</th>
                <th scope="col">Surname1</th>
                <th scope="col">Surname2</th>
                <th scope="col">Location</th>
                <th scope="col">Email</th>
                <th scope="col">Disabilities</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr scope="row">
                <td scope="col">{{ user.username }}</td>
                <td scope="col">{{ user.surname1 }}</td>
                <td scope="col">{{ user.surname2 }}</td>
                <td scope="col">{{ user.location }}</td>
                <td scope="col">{{ user.email }}</td>
                <td scope="col">
                {% for disability in user.disabilities %}
                {{ disability }}
                {% endfor %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="createButton">
        <a class="btn btn-primary stretched-link" href="{{ path('user_new') }}">Create a new user</a>
    </div>
{% endblock %}
