{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="titleForm mt-4" align="center">
            <h1>Disability list</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card shadow border-dark p-4 mt-4">
                    <!-- Fila  -->
                    <div class="row">
                        <div class=" col-11">
                            <div class="row">
                                <div class=" col-md-4">
                                    <label class="font-weight-bold">Nombre</label>
                                </div>
                                <div class=" col-md-4">
                                    <label class="font-weight-bold">Descripción</label>
                                </div>
                                <div class=" col-md-3">
                                    <label class="font-weight-bold">Grados</label>
                                </div>
                            </div>
                        </div>
                        <div class=" col-1">
                            <label class="font-weight-bold">Acciones</label>
                        </div>
                    </div>
                    <!-- Fila -->
                    {% for disability in disabilities %}
                        <div class="row pl-1 mt-3">
                            <div class="form-group col-11">
                                <div class="row">
                                    <div class="col-md-4 pl-2 p-2">
                                        <div class="form-group border shadow border-secondary rounded pl-2 mt-2">
                                            <label>{{ disability.name }}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-2 p-2">
                                        <div class="form-group border shadow border-secondary rounded pl-2 mt-2">
                                            <label>{{ disability.description }}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pl-2 p-2">
                                        <div class="form-group border shadow border-secondary rounded pl-2 mt-2">
                                            <label>{{ disability.grade }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="form-group mt-3">
                                    <a href="{{ path('disability_show', { 'id': disability.id }) }}"><img src="{{ asset('imagenes/show.png') }}" class="actions pl-2 pr-2" alt="Show"></a>
                                    <a href="{{ path('disability_edit', { 'id': disability.id }) }}"><img src="{{ asset('imagenes/edit.png') }}" class="actions" alt="Edit"></a>
                                </div>
                            </div>
                        </div>
                        <hr style="border-top: dotted 1px;" />
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-4 float-left">
                            <a class="btn btn-primary stretched-link" href="{{ path('disability_new') }}">Create a new disability</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}