{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/list.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
{% endblock %}
{% block body %}
    <div class="index">
    <div class="titleForm">
        <h1>Disabilities list</h1>
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for disability in disabilities %}
            <tr>
                <td>{{ disability.name }}</td>
                <td>{{ disability.description }}</td>
                <td>{{ disability.grade }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('disability_show', { 'id': disability.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('disability_edit', { 'id': disability.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="createButton">
        <a class="btn btn-primary stretched-link" href="{{ path('disability_new') }}">Create a new disability</a>
    </div>
{% endblock %}
