{% extends 'base.html.twig' %}

{% block body %}
    <h1>Disabilities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for disability in disabilities %}
            <tr>
                <td><a href="{{ path('disability_show', { 'id': disability.id }) }}">{{ disability.id }}</a></td>
                <td>{{ disability.name }}</td>
                <td>{{ disability.description }}</td>
                <td>{{ disability.grade }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('disability_show', { 'id': disability.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('disability_edit', { 'id': disability.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('disability_new') }}">Create a new disability</a>
        </li>
    </ul>
{% endblock %}
