{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/create.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}"/>
{% endblock %}
{% block body %}

{{ form_start(form, { 'attr':{'id': 'formDisability' }}) }}
{{ form_errors(form) }}
<section>
    <div class="form container-fluid">
        <form class="formOffer" novalidate>
            <header>
                <div class="titleForm mt-4" align="center">
                    <h1>Crear discapacidades</h1>
                </div>
            </header>
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow border-dark p-4">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="validationCustom01" class="font-weight-bold">Nombre</label>
                                <div id="name_div">
                                    {{ form_widget(form.name, { 'attr': {'class': 'border shadow border-secondary rounded pl-2 p-2  col-md-9 lg-9 sm-9', 'id': 'name' } }) }}
                                </div>
                                <div id="nameError" class="invalid-feedback" style="display: none">
                                    Por favor, selecciona una compañia
                                </div>
                                <div id="nameCorrect" class="valid-feedback" style="display: none">
                                    Campo correcto
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="validationCustom02" class="font-weight-bold">Descripción</label>
                                <div id="description_div">
                                    {{ form_widget(form.description, { 'attr': {'class': 'border shadow border-secondary rounded pl-2 p-2 col-md-12 lg-12 sm-12', 'id': 'description' } }) }}
                                </div>
                                <div id="descriptionError" class="invalid-feedback" style="display: none">
                                    Por favor, selecciona un titulo
                                </div>
                                <div id="descriptionCorrect" class="valid-feedback" style="display: none">
                                    Campo correcto
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="validationCustom02" class="font-weight-bold">Grado</label>
                                <div id="grade_div">
                                    {{ form_widget(form.grade, { 'attr': {'class': 'border shadow border-secondary rounded pl-2 p-2 col-md-12 lg-12 sm-12', 'id': 'grade' } }) }}
                                </div>
                                <div id="gradeError" class="invalid-feedback" style="display: none">
                                    Por favor, selecciona un grado
                                </div>
                                <div id="gradeCorrect" class="valid-feedback" style="display: none">
                                    Campo correcto
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 float-left">
                                <input class="btn btn-primary shadow border-dark" id="formButton" type="submit" value="Crear" />
                                <a class="shadow btn btn-primary border-dark" href="{{ path('disability_index') }}">Volver a
                                    Discapacidades</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
    {{ form_end(form) }}

    <script src="{{ asset('js/formDisability.js') }}"></script>
    <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>
{% endblock %}


