{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}"/>
{% endblock %}
{% block body %}
    {{ form_start(form, { 'attr':{'id': 'formOffer' }}) }}
    {{ form_errors(form) }}
    <div class="form">
        <form class="formUser" novalidate>
            <div class="head">
                <h1>Crear Oferta</h1>
            </div>
            <div class="form-row">
                <div class="col-md-6 lg-6 sm-12">
                    <label for="validationCustom01">Nombre</label>
                    <div id="title_div">
                        {{ form_widget(form.title, { 'id': 'title' }) }}
                    </div>
                    <div id="titleError" class="invalid-feedback" style="display: none">
                        Por favor, selecciona un nombre
                    </div>
                    <div id="titleCorrect" class="valid-feedback" style="display: none">
                        Campo correct
                    </div>
                </div>
                <div class="col-md-6 lg-6 sm-12">
                    <label for="validationCustom02">PDF</label>
                    <div id="pdf_div">
                        {{ form_widget(form.pdf, { 'id': 'pdf' }) }}
                    </div>
                </div>
                <div class="col-md-6 lg-6 sm-12">
                    <label for="validationCustom02">Descripcion</label>
                    <div id="description_div">
                        {{ form_widget(form.description, { 'id': 'description' }) }}
                    </div>
                    <div id="descriptionError" class="invalid-feedback" style="display: none">
                        Por favor, selecciona una descripción
                    </div>
                    <div id="descriptionCorrect" class="valid-feedback" style="display: none">
                        Campo correct
                    </div>
                </div>
                <input class="btn btn-primary" id="formButton" type="submit" value="Create" />
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('offer_index') }}">Back to the list</a>
        </li>
    </ul>
    <script src="{{ asset('js/formOffer.js') }}"></script>
    <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>
{% endblock %}
