{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/show.css') }}" />
<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" />
{% endblock %}
{% block body %}
<h1>Offer</h1>
<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td class="card">
                {{ offer.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>
                {{ offer.title }}</td>
        </tr>
        <tr>
            <th>Pdf</th>
            <td>
                <a href="{{ asset('pdf/' ~ offer.pdf) }}">View brochure (PDF)</a>
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {{ offer.description }}</td>
        </tr>
        <tr>
            <th>disabilities</th>
            <td>
                {% for disability in offer.disabilities %}
                {{ disability }}
                <br>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
<table class="show ">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Título</th>
            <th scope="col">PDF</th>
            <th scope="col">Descripción</th>
            <th scope="col">Disfuncionalidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ offer.id }}</td>
            <td>
                {{ offer.title }}</td>
            <td>
                <a href="{{ asset('pdf/' ~ offer.pdf) }}">View brochure (PDF)</a>
            </td>
            <td>
                {{ offer.description }}</td>
            <td>
                {% for disability in offer.disabilities %}
                {{ disability }}
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
<div class="show">
    <div class="form-group">
        <label>Id</label>
        <div class="form-control">
            {{ offer.id }}
        </div>
    </div>
    <div class="form-group">
        <label>Título Oferta</label>
        <div class="form-control">
            {{ offer.title }}
        </div>
    </div>
    <div class="form-group">
        <label>PDF</label>
        <div class="form-control">
            <a href="{{ asset('pdf/' ~ offer.pdf) }}">View brochure (PDF)</a>
        </div>
    </div>
    <div class="form-group">
        <label>Descripción</label>
        <div class="form-control">
            {{ offer.description }}
        </div>
    </div>
    <div class="form-group">
        <label>Disfuncionalidad</label>
        <div class="form-control">
            {% for disability in offer.disabilities %}
            {{ disability }}
            /
            {% endfor %}
        </div>
    </div>
    <a class="btn btn-primary" href="{{ path('offer_index') }}">Back to the list</a>
    <a class="btn btn-primary" href="{{ path('offer_edit', { 'id': offer.id }) }}">Edit</a>
    <div>
        {{ form_start(delete_form) }}
        <button class="btn btn-primary" type="submit">Delete</button>
        {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}