<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>
            {% block title %}Bienvenido a la aplicación de AUCCatarroja{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="stylesheet" href="{{ asset('css/nav.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    </head>
    <body>
    <!--Navbar-->

    <nav class="navbar navbar-expand-lg">
        <img src="{{ asset('imagenes/Logo2.png') }}" alt="Logo"/>
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="rounded collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ulNav" id="ulNav">
                <li class="nav-item liNav">
                    <a class="nav-link aNav w-100" id="user" href="{{ path('user_index') }}">Usuario <span class="sr-only"></span></a>
                </li>
                <li class="nav-item liNav ">
                    <a class="nav-link aNav w-100" id="disability" href="{{ path('disability_index') }}">Discapacidad <span class="sr-only"></span></a>
                </li>
                <li class="nav-item liNav">
                    <a class="nav-link aNav w-100" id="offer" href="{{ path('offer_index') }}">Oferta <span class="sr-only"></span></a>
                </li>
                <li class="nav-item liNav">
                    <a class="nav-link aNav w-100" id="company" href="{{ path('company_index') }}">Compañía <span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar-->
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/nav.js') }}"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="{{ asset('js/dataTable.js') }}"></script>
    </body>
</html>